<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vc-header</title>
    <script type="module" src="vc-header.js"></script>
</head>
<body>
    <header class="vc-header">
        <a class="link">Inicio</a>
        <div class="logo">
            VC
            <!-- <img src=""> -->
        </div>
        <a class="link">Presentes</a>
    </header>
</body>
</html>