.pagamento-confirmado {
    >.content {
        >.thank {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;
            padding: 30px;
            margin-top: 30px;
            line-height: 30px;

            >.title {
                font-weight: 800;
                font-size: 18px;
            }

            >.lottie {
                max-width: 400px;
            }

            >.subtitle {}
        }
    }
}