.vc-header{
    padding: 10px 0;
    box-shadow: 0px 7px 11px #0000001c;

    >.wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      max-width: var(--main-wrapper);

      
      @media (min-width: 600px) {
        margin: 0 auto;
        max-width: 600px;
      }
      
      >.link {
        width: 120px;
        padding: 20px;
      font-size: 20px;
      color: var(--color-primary);
    }

    >.logo {
      height: 70px;

      >img {
        height: 100%;
      }   
    }
  }
}