* {
    box-sizing: border-box;
    font-family: 'Rosario', sans-serif;
    font-weight: 300;
}


html, body {
    background-color: rgb(250, 250, 250);
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e8e8e8;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary-light);
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }