.presentes {
    >.content {
        @media (min-width: 600px) {
            margin: 0 auto;
            max-width: 600px;
        }

        #step-1 {
            >.wrapper {
                max-width: 100%;
                margin-bottom: 0;
                gap: 35px;

                >.thank-text {
                    display: flex;
                    flex-flow: column;
                    gap: 15px;
                    margin-bottom: 10px;

                    >.title {
                        font-family: great vibes;
                        font-size: 30px;
                    }

                    >.text {
                        font-weight: 100;
                        font-size: 14px;
                        line-height: 20px;
                        color: var(--color-gray-light);
                    }
                }


                >.select-voucher {

                    font-weight: 500;
                    font-size: 18px;
                }

                >.grid-present {
                    display: grid;
                    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
                    gap: 15px;
                    padding-bottom: 15px;

                    >.present-card {
                        cursor: pointer;
                        /* border: 1px solid var(--color-gray-lightest); */
                        border-radius: 7px;
                        padding: 14px;
                        display: flex;
                        flex-flow: column;
                        gap: 10px;
                        text-align: center;
                        background: white;
                        box-shadow: 0px 2px 9px #0000000d;

                        >.image {
                            border-radius: 5px;
                            overflow: hidden;                        
                            width: 100%;

                            >img, video {
                                width: 100%;

                            }
                        }

                        >.title {
                            font-weight: 600;
                            padding-left: 7px;
                        }

                        >.price {
                            font-size: 12px;
                            font-family: "Montserrat", sans-serif;
                            font-weight: bold;
                        }

                        >.btn-wrapper {}
                    }
                }
            }
        }

        #step-2 {
            >.wrapper {

                padding: 10px;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            >.header {


                >.name {
                    text-align: center;
                    padding: 10px 0 20px 0;
                    font-size: 18px;
                    font-weight: 800;

                    margin-top: -26px;
                }


                >.image {
                    height: 170px;
                    >video{
                        width: 100%;
                    }
                }

            }
        }

        #step-3 {
            >.wrapper {
                >.payments-cards {
                    display: grid;
                    gap: 15px;

                    >.card {
                        cursor: pointer;
                        padding: 20px 10px;
                        display: flex;
                        flex-flow: column;
                        gap: 20px;
                        border: 1px solid var(--color-gray-lightest);
                        border-radius: 7px;
                        color: var(--color-primary);

                        >.title {
                            font-weight: 600;
                        }

                        >.title-subtitle {
                            >.title {
                                font-weight: 600;
                            }

                            >.subtitle{
                                font-size: 14px;
                                margin-top: 5px;

                                &.-hide{
                                    display: none;
                                }
                            }
                        }

                        >.img {
                            font-size: 40px;

                            &.--pix {
                                color: rgb(76, 184, 169);
                            }
                        }
                    }
                }
            }
        }

        #step-4 {
            >.wrapper {
                gap: 25px;
                margin-bottom: 10px;

                >.intro-text {
                    margin-bottom: 0;
                }

                >.qr-code-area {
                    max-width: 250px;
                }

                >.finish-btn {
                    display: flex;
                    flex-flow: column;
                    gap: 15px;
                    font-size: 15px;
                    line-height: 21px;
                    color: var(--color-gray);
                    margin-top: 20px;
                }
            }
        }

        >.step {
            &.-hide {
                opacity: 0;
                height: 0;
                width: 0;
                overflow: hidden;
            }

            >.header {
                >.back {
                    font-weight: 400;
                    padding: 30px 15px 0px 15px;
                    display: inline-block;
                    font-size: 13px;
                }
            }

            >.wrapper {
                display: flex;
                flex-flow: column;
                gap: 15px;
                padding: 15px;
                max-width: 300px;
                margin: 30px auto;
                text-align: center;



                >.intro-text {
                    font-size: 16px;
                    line-height: 24px;
                    color: var(--color-gray-light);
                    margin-bottom: 10px;
                }
            }

        }
    }
}