.vc-footer{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    padding-top: 60px;
    color: var(--color-gray-light);
    position: relative;

    &::after{
        position: absolute;
        content: "";
        height: 1px;
        width: 50px;
        background-color: var(--color-gray-lightest);
        width: 90px;
        top: 17px;
    }
}